.flexbox{
  display: flex;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  justify-content: center;
}

.flexbox.h {
  flex-direction: row;
}

.flexbox.v {
  flex-direction: column;
}


.grid-container {
    max-width: 800px;
}

.grid-item {
  text-align: center;
  border: 1px solid black;
}

.hidden{
  background-color:green;
}

.shown{
  background-color: grey;
}

.one{
  background-image: url("img/one.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.two{
  background-image: url("img/two.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.three{
  background-image: url("img/three.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.four{
  background-image: url("img/four.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.five{
  background-image: url("img/five.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.six{
  background-image: url("img/six.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.seven{
  background-image: url("img/seven.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.eight{
  background-image: url("img/eight.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flag{
  background-image: url("img/redFlag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bomb{
  background-color: rgb(219, 11, 11);
  background-image: url("img/bomb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 360px) {
  .flexbox{
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  }

  .h2{
    font-size:28px;
  }
    .h3{
    font-size:12px;
  }
  .scoreItem{
    font-size:10px;
  }

  .btn{
    font-size:12px;
  }
}

